.register{
    .navbar-transparent{
        padding-top: 25px;
    }

    .page-header{
        min-height: 100vh;
        height: auto;

        .container{
            padding-top: 15vh;
        }
    }

    .card-signup{
        @include shadow-16dp();
        padding: 40px 0px;

        .card-title{
            margin: 0 0 5px 0;
        }

        .card-subtitle{
            margin: 5px 0 10px 0;
        }

        .card-content{
            margin: 20px 0;
        }

        .login-link{
            margin: 25px 0 ;
        }
    }

    .signup-disclaimer{
        font-size: $font-size-base;
        margin-bottom: 40px;
    }

    .footer{
        .container{
            padding: 0;
        }
        .copyright,
        a{
            color: $white-color;
        }
    }
}


@media (max-width: $screen-sm-max){
    .register{
        .page-header{
            .container{
                padding-top: 16vh;
            }
        }

        .navbar {
            .navbar-brand {
                float: none;

                img{
                    margin: 0 auto;
                }
            }
        }

        .card-signup{
            padding: 20px 15px;
        }

        .signup-disclaimer{
            margin-bottom: 0;
        }
    }
}
